@font-face {
  font-family: 'Acumin Variable Concept';
  src: url('AcuminVariableConcept.otf') format('truetype-variations');
  font-weight: 300;
  font-stretch: semi-condensed;
  font-style: normal;
}

.body {
  margin: 0px;
  cursor: url('cursor.png'), auto;
  background-image: linear-gradient(#ff685e, #f48f9e, #ffffff,#ffffff,#ffffff);
}

#region {
  position: relative;
  width: 100%;
}

#topImage {
  margin-top: 5vh;
  /* height: 50vh;
  width: auto;
  max-width: 100vw; */
  max-width: 98vw; /* Ensure the image does not exceed the width of the viewport */
  max-height: 50vh; /* Maximum height is 50% of the viewport height */
  height: auto; /* Maintain aspect ratio */
  width: auto;
  margin-bottom: 15vh;
}

#topImage-container {
  display: flex;
  justify-content: center; /* Center horizontally */
}

span.exclusion-newline:before {
  content: '\A';
  white-space: pre;
}

.flex-container {
  display: flex;
}

.flex-item {
  
  font-family: 'Acumin Variable Concept', sans-serif;
  font-weight: 300; /* Light weight */

  /* font-family: 'Helvetica', 'Arial', sans-serif; */
  font-size: 10pt;
  line-height: 12pt;
  padding: 10px;
  margin: 5px;
  width: 25%;
  text-align: left;
}

#exclude13 {
  height: 2vw;
  width: 2vw;
  left: 35vw;
  top: 0vh;
  background-image: url('background_button.svg');
}

#exclude14 {
  height: 2vw;
  width: 2vw;
  left: 45vw;
  top: 0px;
  background-image: url('font_weight.svg');
}

#exclude15 {
  height: 2vw;
  width: 2vw;
  left: 83vw;
  top: -20vh;
  background-image: url('font_small.svg');
}

#exclude16 {
  height: 2vw;
  width: 2vw;
  left: 80vw;
  top: -25vh;
  background-image: url('font_big.svg');
}

#exclude0 {
  height: 2vw;
  width: 2vw;
  left: 10vw;
  top: 0px;
  background-image: url('Printing_icon.svg');
}

#exclude1 {
  height: 6.6vw; /* Was 6vw */
  width: 5.5vw; /* Was 5vw */
  left: -15px;
  top: 0px;
  background-image: url('1.svg');
}

#exclude2 {
  height: 11vw; /* Was 10vw */
  width: 11vw; /* Was 10vw */
  left: -15px;
  top: -28vh;
  background-image: url('2.svg');
}

#exclude3 {
  height: 5.5vw; /* Was 5vw */
  width: 5.5vw; /* Was 5vw */
  left: 29vw;
  top: 0px;
  background-image: url('3.svg');
}

#exclude4 {
  height: 7.7vw; /* Was 7vw */
  width: 14.85vw; /* Was 13.5vw */
  left: 28vw;
  top: -30vh;
  background-image: url('4.svg');
}

#exclude5 {
  height: 5.5vw; /* Was 5vw */
  width: 7.15vw; /* Was 6.5vw */
  left: 44vw;
  top: -20vh;
  background-image: url('5.svg');
}

#exclude6 {
  height: 7.7vw; /* Was 7vw */
  width: 7.7vw; /* Was 7vw */
  left: 53vw;
  top: -33vh;
  background-image: url('6.svg');
}

#exclude7 {
  height: 3.85vw; /* Was 3.5vw */
  width: 6.6vw; /* Was 6vw */
  left: 49vw;
  top: 12vh;
  background-image: url('7.svg');
}

#exclude8 {
  height: 5.5vw; /* Was 5vw */
  width: 5.72vw; /* Was 5.2vw */
  left: 62vw;
  top: 0px;
  background-image: url('8.svg');
}

#exclude9 {
  height: 9.9vw; /* Was 9vw */
  width: 8.25vw; /* Was 7.5vw */
  left: 74vw;
  top: -11vh;
  background-image: url('9.svg');
}

#exclude10 {
  height: 6.6vw; /* Was 6vw */
  width: 9.57vw; /* Was 8.7vw */
  left: 78vw;
  top: 0px;
  background-image: url('10.svg');
}

#exclude11 {
  height: 7.7vw; /* Was 7vw */
  width: 6.6vw; /* Was 6vw */
  left: 83vw;
  top: -40vh;
  background-image: url('11.svg');
}




.ex {
  cursor: move;
  position: absolute;
  margin: 1em;
  cursor: url('cursor_hover.png'), move !important;
}

#exclude12 {
  height: 9.9vw; /* Was 9vw */
  width: 9.9vw; /* Was 9vw */
  left: 88vw;
  top: -25vh;
  margin: 0em;
  background-image: url('12.svg');
}

/* Media query for screens that are at least 768px wide (typical breakpoint for tablets and desktops) */
@media (max-width: 767px) {
  .flex-item {
    /* flex: 25%; On desktop, each column takes 25% of the width */
    width: 100%;
    padding: 0px;
  }
  .flex-container {
    display: inline;
  }
  /* #topImage {
    margin-bottom: 5vh;
  } */
  #exclude0, #exclude13, #exclude14, #exclude15, #exclude16{
    height: 3vh;
    width: 3vh;
  }
  #exclude0{
    left: 12vw
  }
  #exclude13{
    top: -25vh
  }
  #exclude14{
    top: -30vh
  }
  #exclude1 {
    height: 14.4vw; /* Was 6vw */
    width: 12vw; /* Was 5vw */
    left: -14px
  }
  #exclude2 {
    top: -15vh;
    left: 0px;
    height: 18vw; /* Was 10vw */
    width: 18vw; /* Was 10vw */
  }
  #exclude3 {
    height: 10vw; /* Was 5vw */
    width: 10vw; /* Was 5vw */
    left: 26vw;
  }
  #exclude4 {
    top: -13vh
  }
  #exclude5 {
    top: -10vh
  }
  #exclude6 {
    top: -14vh
  }
  #exclude7 {
    top: -34.5vh;
    left: 40vw;
    height: 10.15vw; /* Was 3.5vw */
    width: 17.4vw; /* Was 6vw */
  }
  #exclude9 {
    top: -11vh;
    left: 67vw;
  }
  #exclude11 {
    top: -15vh
  }
  #exclude12 {
    top: -9vh;
    left: 90vw;
  }
}

@media print {
  html, body {
      -webkit-print-color-adjust: exact;
      print-color-adjust: exact;
      background-image: linear-gradient(#ff685e, #ffffff, #ffffff);
  }
}
